{% extends "base.html" %}

{% load static %}

{% block title %}About the South African National Development Plan{% endblock %}
{% block body-class %}about-page{% endblock %}

{% block page-header %}
    <h1>ABOUT THIS SITE</h1>
{% endblock %}

{% block page-content %}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5" id="swap1">
                <hr class="sep hidden-sm hidden-xs"/>
                <div class="dgru">
                    <a href="http://www.dgru.uct.ac.za/" target="_blank">
                        <img src="{% static 'img/dgru.png' %}"/>
                    </a>
                </div>
                <div class="code-for-sa">
                    <a href="http://www.code4sa.org" target="_blank">
                        <img src="{% static 'img/code-for-sa.png' %}"/>
                    </a>
                </div>
                
            </div>
            <div class="col-md-7 about-text" id="swap2">
                <hr class="sep hidden-sm hidden-xs"/>
                <hr class="hidden-md hidden-lg" />
                <p>In 2012, the National Planning Committee authored an ambitious vision document. It details actions to be taken and goals to be met to reduce inequality and poverty in South Africa by 2030.</p>
                <p>This site aims to make the plan accessible to citizens, and highlight progress made towards the NPD objectives. Public and private sectors, and citizens, are called to work together to achieve the common goals. The site allows you to explore the NDP and view organisations and projects working towards its objectives. The tracking and measuring of progress towards the end goals is crucial to achieve the vision.</p>
                <p>This project is currently a feasibility study and focuses on health, education and social protection.</p>

                <h2>Democratic Governance and Rights Unit</h2>
                <p>Our vision is of a socially just Africa, where equality and constitutional democracy are upheld by progressive and accountable legal systems, enforced by independent and transformative judiciaries, anchored by a strong rule of law. Our mission is to advance social justice and constitutional democracy in Africa by:</p>
                <ul>
                    <li>Conducting applied and comparative research;</li>
                    <li>Supporting the development of an independent, accountable and progressive judiciary;</li>
                </ul>        

                <h2>Code for South Africa</h2>
                <p>Code for South Africa is a non-profit civic technology organisation. Our goal is to promote informed decision-making, especially for social good. Established in October 2013, Code4SA has developed a strong brand in the civil society and media spaces.</p>
                <p>Code for South Africa is based in Cape Town and consists of a core team that supports a broad network of skilled partners. We work closely with existing organisations and their communities to reach a wide audience.</p>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <hr class="hidden-md hidden-lg" />
                <h2>CONTACT</h2>
                <p><a href="mailto:info@code4sa.org">info@code4sa.org</a></p>
                <p><a href="http://www.dgru.uct.ac.za/">www.dgru.uct.ac.za</a></p>
                <p><a href="http://code4sa.org/">code4sa.org</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 get-involved">
                <hr class="sep hidden-sm hidden-xs"/>
                <hr class="hidden-md hidden-lg" />
                {% include '_get_involved.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
                {% include '_sector_links.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
