{% extends "layout.html" %}

{% load static %}

{% block title %}The South African National Development Plan{% endblock %}
{% block body-class %}home{% endblock %}
{% block content %}

<div class="container">
    <!-- HEADER -->
    <header class="home-header">

        <div class="row site-links">
            <div class="col-md-12">
                {% include '_header.html' %}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <div class="NDP-logo">
                    <a href="/"><img src="{% static 'img/NDP-2030.png' %}"/></a>
                </div>
                <div class="logo">
                    <a href="/"><img src="{% static 'img/NDP.png' %}"/></a>
                </div>
                <div class="NDP-blurb">demystifying the plan and<br/>tracking progress made</div>
            </div>
        </div>

    </header>
    <!-- END HEADER -->
    <div class="row">
        <div class="col-md-3 intro-blurb">
            <p>An ambitious vision to reduce inequality and poverty by 2030. Let's understand our progress</p> 
            <div class="home-info">Click on an icon to find out more about objectives and activities</div>   
            <div class="PDF-link"><span>+</span><a href="http://www.gov.za/documents/national-development-plan-2030-our-future-make-it-work">READ MORE DOWNLOAD THE NATIONAL DEVELOPMENT PLAN: A PDF</a></div>
            <div class="logos hidden-sm hidden-xs">
                <div class="dgru">
                    <a href="http://www.dgru.uct.ac.za/" target="_blank">
                        <img src="{% static 'img/dgru.png' %}"/>
                    </a>
                </div>
                <div class="code-for-sa">
                    <a href="http://www.code4sa.org" target="_blank">
                        <img src="{% static 'img/code-for-sa.png' %}"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 sectors">
            {% for sector in sectors %}
            <div class="sector-bubble">
                <a href="{% url 'sector' sector.slug %}"><img src="{% static sector.image_filename %}"/></a>
                <h2><a href="{% url 'sector' sector.slug %}">{{ sector.name }}</a></h2>
                <div class="blurb" style="display: none">
                    <a href="{% url 'sector' sector.slug %}">
                        <h3>{{ sector.name|upper }}</h3>
                        <div class="contributor-number">??</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="logos row hidden-md hidden-lg">
        <div class="dgru">
            <a href="http://www.dgru.uct.ac.za/" target="_blank">
                <img src="{% static 'img/dgru.png' %}"/>
            </a>
        </div>
        <div class="code-for-sa">
            <a href="http://www.code4sa.org" target="_blank">
                <img src="{% static 'img/code-for-sa.png' %}"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}
